.app.dark {
    --color-1: #2f323a;
    --color-2: #bfcc94;
    --color-3: #e3c0d3;
    --color-4: #95818d;
    --color-5: #d56f3e;

    --bg-color: #2a412c;
    // --primary-color: #95818d;
    // --secondary-color: #e3c0d3;
    --primary-color: #32b65a;
    --secondary-color: #22853f;
}