.app.light {
    --color-1: #efefef;
    --color-2: #0f7173;
    --color-3: #62c370;
    --color-4: #ff928b;
    --color-5: #72a1e5;
    
    --bg-color: #efefef;
    --primary-color: #0d6566;
    --secondary-color: #249799;
}